body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 60px;
}

#count{
    font-size: 48px;
    margin: 20px 0;
}

button{
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 20px;
    color: azure;
    background-color: #5f7387;
    transition:all 0.2s ease;
}

button:hover{
    background: rgb(15, 155, 255);
}